.header
    margin: 0
    padding: 0
    // padding-bottom: 15px
    width: 100%
    // position: fixed


    &__top
        display: flex
        justify-content: space-between
        padding: 5px
        // background-color: #FFD242

        &--title
            padding: 8px
            color: #157334
            justify-content: center
            font-family: Century Gothic, sans-serif
            // font-family: Impact, Charcoal, sans-serif
            font-size: 100%
            
        &--user
            padding: 5px
            display: flex
            justify-content: center
            font-variant: small-caps
            font-size: 20px
            background-color: #E4C06C
            color: #0026ffa8
            color: -webkit-linear-gradient(to right, #ec2F4B, #009FFF)
            color: linear-gradient(to right, #ec2F4B, #009FFF) 

        &--nav
            margin: 0
            padding: 0
            display: flex
            justify-content: center

        &--register
            padding: 3px
            margin: 5px
            background-color: #E5AB65

        &--login
            padding: 3px
            margin: 5px
            background-color: #E5AB65

        &--cart
            padding: 3px
            margin: 5px
            color: white
            background-color: #6C4237

        &--favs
            padding: 1px
            margin: 5px
            color: white
            background-color: #149911

        &--logout
            padding: 1px
            margin: 5px
            color: white
            background-color: black
        
        &--orders
            display: block
            width: 100px
            height: 25px
            background-color: #c59152
            padding: 3px
            text-align: center
            border-radius: 5px
            color: white


    &__bottom
        width: 100%
        padding: 8px
        display: flex
        justify-content: space-around
        background: #FFD242


        &--categories
            background: #22c1c3
            background: -webkit-linear-gradient(to left, #fdbb2d, #22c1c3)
            background: linear-gradient(to left, #fdbb2d, #22c1c3)
            display: flex
            justify-content: flex-end
            border-color: green

        &--community
            background: #22c1c3
            background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3)
            background: linear-gradient(to right, #fdbb2d, #22c1c3)
            display: flex
            justify-content: flex-end
            border-color: green

        &--search
            display: flex
            justify-content: center
            align-content: center

.btn
    padding: 0 4px 0 4px
    border-radius: 15px
