.header
    padding: 5px
    background: #40E0D0
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0)
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0)

    &__top
        display: flex
        align-content: baseline
        margin: 10px
        padding: 0 10px 0 10px
        display: flex
        justify-content: space-between

        &--title
            align-self: center
            font-family: Impact, Charcoal, sans-serif
            font-size: 100%
        
        &--register
            padding: 1px
            margin: 5px
            background-color: red

        &--login
            padding: 1px
            margin: 5px
            background-color: #5DADE2

        &--cart
            padding: 1px
            margin: 5px
            background-color: green

    &__bottom
        margin: 10px 
        display: flex
        justify-content: space-around

        &--categories
            display: flex
            justify-content: flex-end

        &--search
            display: flex
            justify-content: center
            align-content: center

    
        
.btn
    padding: 2px
    border-radius: 15px
