.productList
    margin: 0
    background: #06beb6
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6)
    background: linear-gradient(to right, #48b1bf, #06beb6)
    display: flex
    flex-direction: column

    &__product
        display: flex
        justify-content: center

        &--a
            display: columnn
            justify-content: center
            align-content: center

        &--img
            padding-top: 15px
            width: 300px
            height: auto
            display: flex
            border-radius: 25px

        &--title
            color: white
            font-size: 22px
