.cartPanel
    margin: 0
    padding: 5px
    width: 100%
    height: 100%
    text-align: center

    &__title
        color: #009FFF
        color: -webkit-linear-gradient(to right, #ec2F4B, #009FFF)
        color: linear-gradient(to right, #ec2F4B, #009FFF)
.userPanel
    padding: 5px
    display: inline-block
    &__text
        font-family: "Comic Sans MS", cursive, sans-serif

    &__ancorToLogin
        font-family: "Comic Sans MS", cursive, sans-serif
        color: #009FFF