.successPanel
    margin: 10%
    height: 50%
    width: 50%
    font-family: Arial, Helvetica, sans-serif
    font-size: 150%
    justify-content: center

    &__title
        color: #009FFF
        color: -webkit-linear-gradient(to right, #ec2F4B, #009FFF)
        color: linear-gradient(to right, #ec2F4B, #009FFF)

    &__text
        font-family: "Comic Sans MS", cursive, sans-serif

    &__ancorToLogin
        font-family: "Comic Sans MS", cursive, sans-serif
        color: #009FFF