.footer
    margin-top: 6px
    // padding: 2px
    padding: 6px 0 0 0
    width: 100%
    display: flex
    justify-content: space-around
    background: #40E0D0
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0)
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0)
    // position: fixed
    // bottom: 0

    &__menu
        padding: 0
        display: flex
        align-content: center

        &--title
            padding: 10px 30px 10px 30px 
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            font-size: 10px
            text-align: center

        &--list
            display: flex
            justify-content: flex-end 
            
.icons_social_media
    padding: 5px
    border-radius: 10px

        
