.registerPanel
    background: #333333
    background: -webkit-linear-gradient(to right, #dd1818, #333333)
    background: linear-gradient(to right, #dd1818, #333333)
   
    font-family: Arial, Helvetica, sans-serif
    margin: 0
    width: 100%
    height: 100vh

    &__title
        padding: 7%
        display: flex
        justify-content: center
        font-size: 40px
        font-variant: small-caps
        color: #CC6600

    &__form
        padding: 0 25% 1% 25%
        display: flex
        justify-content: center
        flex-direction: column

        &--lbl
            font-size: 20px
            padding-top: 15px
            padding-bottom: 5px
            color: #5DEF58
            justify-content: flex-start

        &--input
            padding: 8px
            
    &__btn
        display: flex
        justify-content: center
        margin-top: 55px
        margin-bottom: 55px
        padding: 15px
        border: 0 solid #e4e4e4
        border-color: #cc6600
        border-radius: 10px
        color: white
        background-color: #F39C12


