<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jbv-App</title>

    <link rel="stylesheet" href="/style/index.css">
</head>

<body>
    <header class="header">

        <div class="header__wellcome">
            <a href="#"><img id="logo" src="../images/logo1.jpg" alt="Eco-logic logo"></a>
            <h1 class="header__wellcome--title">Benvingut!</h1>
            <nav class="header__wellcome--nav">
                <button class="header__btn--user"></button>
                <button class="header__btn--cart"></button>
            </nav>
        </div>

        <div class="header__search">
            <button class="header__search--categories">Categories</button>
            <nav class="header__search--search">
                <input class="header__search--input" type="text" placeholder="cerca productes">
                <button class="header__search--btn">Cercar</button>
            </nav>
        </div>
        
    </header>

</body>
</html>