*
    margin: 0
    padding: 0
    box-sizing: border-box

.ancor
    margin: 5px 20px 5px 70%
    display: flex
    justify-content: flex-end
    text-align: center
    width: 115px
    height: 48px
    background: #f0ead2
    padding: 5%
    border-radius: 10px
    font-weight: bold

@import ../Landing
@import ../Header
@import ../Footer
@import ../Register
@import ../Register-success
@import ../Login
@import ../Search
@import ../Results
@import ../Home
@import ../Detail
@import ../Cart
@import ../Usercart
@import ../Feedback