.searchPanel
    margin: 5px
    padding: 2px
    display: flex
    align-content: space-around

    &__input
        padding: 3px
        border-color: black
        border-top-left-radius: 15px
        border-bottom-left-radius: 15px
        
    &__btn
        padding: 1px
        border-top-right-radius: 10px
        border-bottom-right-radius: 10px