.home
    margin: 0
    padding: 8px
    // background: #06beb6
    // background: -webkit-linear-gradient(to right, #48b1bf, #06beb6)
    // background: linear-gradient(to right, #48b1bf, #06beb6)
    background: #D7CEB2

    &__container
        display: flex
        justify-content: center

        &--imag
            padding-top: 20px
            width: 300px
            height: auto
            border-top-color: black
            border-radius: 35px
            display: flex
            justify-content: center

        &--text
            display: flex
            justify-content: center
            color: black
            font-variant: small-caps
            font-size: 28px

